*{
    padding: 0;
    margin: 2px;
    font-family: cursive;
}
body{
    background-color: #d89d9d;

}
header{
    margin: 30px 18px;
    font-size: 22px;    
}
section{
    text-align: center;
    top:20%
}
.icons{
    margin: 35px 0 20px 0;  
}
.icons i{
    font-size: 100px;
}
h2{
    margin-bottom: 25px;  
}
button{
    font-size: 20px;
    padding: 10px;
    width: 100%;
    background: #a79e9e;
    box-shadow: 6px 4px 2px #0b0e0366; 
}
button:hover{
    cursor: pointer;
}

/* body darkmode*/
.darkMode{
    background-color:#454242
}
/*h3 dark mode*/
.header{
    color:#e4c0c0
}

@media(max-width:1800px){
    section{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}